.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    [class~='page-link'] {
      padding-left: 2px;
      padding-right: 2px;
      min-width: 36px;
      cursor: pointer;
    }
  }