.request-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #473232;
    justify-content: flex-start;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    max-width: 300px;
    background-color: #e8eddf;
  }
  
  .request-card h2 {
    margin: 0;
    margin-bottom: 12px;
    color: #333;
    font-size: 10px;
  }
  
  .request-card p {
    margin: 0;
    margin-bottom: 5px;
    color: #666;
    font-size: 10px;
  }

  .requests-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 50px;
  }